<?xml version="1.0" encoding="UTF-8"?>

<BugCollection version="4.0.2" sequence="0" timestamp="1597092921000" analysisTimestamp="1597092922755" release="">
  <Project projectName="repositorios/kimloong_dynamic-table-mapper">
    <Jar>repositorios/kimloong_dynamic-table-mapper</Jar>
    <Jar>-quiet</Jar>
    <Plugin id="com.ufpe.badsmells.badsmells-orm-detector" enabled="true"/>
  </Project>
  <Errors errors="0" missingClasses="59">
    <MissingClass>com.fasterxml.jackson.databind.JavaType</MissingClass>
    <MissingClass>com.fasterxml.jackson.databind.ObjectMapper</MissingClass>
    <MissingClass>com.fasterxml.jackson.databind.PropertyNamingStrategy</MissingClass>
    <MissingClass>com.fasterxml.jackson.datatype.hibernate4.Hibernate4Module</MissingClass>
    <MissingClass>com.fasterxml.jackson.datatype.hibernate4.Hibernate4Module$Feature</MissingClass>
    <MissingClass>com.google.common.base.CaseFormat</MissingClass>
    <MissingClass>com.google.common.base.Converter</MissingClass>
    <MissingClass>javax.servlet.http.HttpServletRequest</MissingClass>
    <MissingClass>org.apache.commons.lang3.StringUtils</MissingClass>
    <MissingClass>org.apache.commons.lang3.math.NumberUtils</MissingClass>
    <MissingClass>org.apache.commons.lang3.time.DateUtils</MissingClass>
    <MissingClass>org.hibernate.EmptyInterceptor</MissingClass>
    <MissingClass>org.hibernate.annotations.GenericGenerator</MissingClass>
    <MissingClass>org.hibernate.cfg.Configuration</MissingClass>
    <MissingClass>org.hibernate.cfg.ImprovedNamingStrategy</MissingClass>
    <MissingClass>org.hibernate.dialect.HSQLDialect</MissingClass>
    <MissingClass>org.hibernate.engine.spi.Mapping</MissingClass>
    <MissingClass>org.hibernate.id.IdentifierGenerator</MissingClass>
    <MissingClass>org.hsqldb.jdbc.JDBCDataSource</MissingClass>
    <MissingClass>org.quartz.CronScheduleBuilder</MissingClass>
    <MissingClass>org.quartz.Job</MissingClass>
    <MissingClass>org.quartz.JobBuilder</MissingClass>
    <MissingClass>org.quartz.JobDataMap</MissingClass>
    <MissingClass>org.quartz.JobExecutionContext</MissingClass>
    <MissingClass>org.quartz.Scheduler</MissingClass>
    <MissingClass>org.quartz.Trigger</MissingClass>
    <MissingClass>org.quartz.TriggerBuilder</MissingClass>
    <MissingClass>org.quartz.TriggerKey</MissingClass>
    <MissingClass>org.slf4j.Logger</MissingClass>
    <MissingClass>org.slf4j.LoggerFactory</MissingClass>
    <MissingClass>org.springframework.beans.BeanUtils</MissingClass>
    <MissingClass>org.springframework.cache.CacheManager</MissingClass>
    <MissingClass>org.springframework.cache.support.CompositeCacheManager</MissingClass>
    <MissingClass>org.springframework.context.ApplicationContext</MissingClass>
    <MissingClass>org.springframework.context.ApplicationContextAware</MissingClass>
    <MissingClass>org.springframework.context.ApplicationEventPublisher</MissingClass>
    <MissingClass>org.springframework.core.io.ClassPathResource</MissingClass>
    <MissingClass>org.springframework.data.jpa.repository.JpaRepository</MissingClass>
    <MissingClass>org.springframework.data.jpa.repository.support.SimpleJpaRepository</MissingClass>
    <MissingClass>org.springframework.data.redis.cache.RedisCacheManager</MissingClass>
    <MissingClass>org.springframework.data.redis.connection.RedisConnectionFactory</MissingClass>
    <MissingClass>org.springframework.data.redis.connection.jedis.JedisConnectionFactory</MissingClass>
    <MissingClass>org.springframework.data.redis.core.RedisTemplate</MissingClass>
    <MissingClass>org.springframework.data.redis.core.StringRedisTemplate</MissingClass>
    <MissingClass>org.springframework.data.redis.core.script.DefaultRedisScript</MissingClass>
    <MissingClass>org.springframework.data.redis.serializer.Jackson2JsonRedisSerializer</MissingClass>
    <MissingClass>org.springframework.http.converter.json.MappingJackson2HttpMessageConverter</MissingClass>
    <MissingClass>org.springframework.jdbc.datasource.DataSourceUtils</MissingClass>
    <MissingClass>org.springframework.jdbc.datasource.lookup.AbstractRoutingDataSource</MissingClass>
    <MissingClass>org.springframework.orm.jpa.JpaTransactionManager</MissingClass>
    <MissingClass>org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean</MissingClass>
    <MissingClass>org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter</MissingClass>
    <MissingClass>org.springframework.scheduling.quartz.SchedulerFactoryBean</MissingClass>
    <MissingClass>org.springframework.scripting.support.ResourceScriptSource</MissingClass>
    <MissingClass>org.springframework.web.servlet.HandlerInterceptor</MissingClass>
    <MissingClass>org.springframework.web.servlet.config.annotation.InterceptorRegistry</MissingClass>
    <MissingClass>org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter</MissingClass>
    <MissingClass>org.springframework.web.servlet.support.AbstractAnnotationConfigDispatcherServletInitializer</MissingClass>
    <MissingClass>redis.clients.jedis.JedisPoolConfig</MissingClass>
  </Errors>
  <FindBugsSummary timestamp="Mon, 10 Aug 2020 20:55:21 +0000" total_classes="43" referenced_classes="80" total_bugs="0" total_size="711" num_packages="23" java_version="1.8.0_262" vm_version="25.262-b10" cpu_seconds="7.00" clock_seconds="1.96" peak_mbytes="164.92" alloc_mbytes="3540.00" gc_seconds="0.12">
    <PackageStats package="com.closer.common.config" total_bugs="0" total_types="7" total_size="170">
      <ClassStats class="com.closer.common.config.QuartzConfig" sourceFile="QuartzConfig.java" interface="false" size="20" bugs="0"/>
      <ClassStats class="com.closer.common.config.RDMSConfig" sourceFile="RDMSConfig.java" interface="false" size="38" bugs="0"/>
      <ClassStats class="com.closer.common.config.RedisConfig" sourceFile="RedisConfig.java" interface="false" size="61" bugs="0"/>
      <ClassStats class="com.closer.common.config.ServiceConfig" sourceFile="ServiceConfig.java" interface="false" size="3" bugs="0"/>
      <ClassStats class="com.closer.common.config.WebConfig" sourceFile="WebConfig.java" interface="false" size="27" bugs="0"/>
      <ClassStats class="com.closer.common.config.WebConfig$1" sourceFile="WebConfig.java" interface="false" size="12" bugs="0"/>
      <ClassStats class="com.closer.common.config.WebInitializer" sourceFile="WebInitializer.java" interface="false" size="9" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.constant" total_bugs="0" total_types="1" total_size="8">
      <ClassStats class="com.closer.common.constant.IDG" sourceFile="IDG.java" interface="false" size="8" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.domain" total_bugs="0" total_types="2" total_size="30">
      <ClassStats class="com.closer.common.domain.BaseDomain" sourceFile="BaseDomain.java" interface="false" size="21" bugs="0"/>
      <ClassStats class="com.closer.common.domain.BaseTenantDomain" sourceFile="BaseTenantDomain.java" interface="false" size="9" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.handler" total_bugs="0" total_types="6" total_size="209">
      <ClassStats class="com.closer.common.handler.DistributedIdentifierGenerator" sourceFile="DistributedIdentifierGenerator.java" interface="false" size="73" bugs="0"/>
      <ClassStats class="com.closer.common.handler.DynamicRoutingDataSource" sourceFile="DynamicRoutingDataSource.java" interface="false" size="5" bugs="0"/>
      <ClassStats class="com.closer.common.handler.TableHandler" sourceFile="TableHandler.java" interface="false" size="73" bugs="0"/>
      <ClassStats class="com.closer.common.handler.TableMapperInterceptor" sourceFile="TableMapperInterceptor.java" interface="false" size="5" bugs="0"/>
      <ClassStats class="com.closer.common.handler.TableProvider" sourceFile="TableProvider.java" interface="false" size="32" bugs="0"/>
      <ClassStats class="com.closer.common.handler.TenantHandlerInterceptor" sourceFile="TenantHandlerInterceptor.java" interface="false" size="21" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.helper" total_bugs="0" total_types="1" total_size="9">
      <ClassStats class="com.closer.common.helper.ContextHelper" sourceFile="ContextHelper.java" interface="false" size="9" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.repository" total_bugs="0" total_types="2" total_size="4">
      <ClassStats class="com.closer.common.repository.BaseRepository" sourceFile="BaseRepository.java" interface="true" size="1" bugs="0"/>
      <ClassStats class="com.closer.common.repository.BaseTenantRepository" sourceFile="BaseTenantRepository.java" interface="true" size="3" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.service" total_bugs="0" total_types="2" total_size="78">
      <ClassStats class="com.closer.common.service.BaseService" sourceFile="BaseService.java" interface="false" size="63" bugs="0"/>
      <ClassStats class="com.closer.common.service.BaseTenantService" sourceFile="BaseTenantService.java" interface="false" size="15" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.common.view" total_bugs="0" total_types="6" total_size="8">
      <ClassStats class="com.closer.common.view.View" sourceFile="View.java" interface="false" size="3" bugs="0"/>
      <ClassStats class="com.closer.common.view.View$Detail" sourceFile="View.java" interface="true" size="1" bugs="0"/>
      <ClassStats class="com.closer.common.view.View$Eager" sourceFile="View.java" interface="true" size="1" bugs="0"/>
      <ClassStats class="com.closer.common.view.View$EagerDetail" sourceFile="View.java" interface="true" size="1" bugs="0"/>
      <ClassStats class="com.closer.common.view.View$EagerList" sourceFile="View.java" interface="true" size="1" bugs="0"/>
      <ClassStats class="com.closer.common.view.View$List" sourceFile="View.java" interface="true" size="1" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.department.domain" total_bugs="0" total_types="1" total_size="21">
      <ClassStats class="com.closer.department.domain.Department" sourceFile="Department.java" interface="false" size="21" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.department.repository" total_bugs="0" total_types="1" total_size="1">
      <ClassStats class="com.closer.department.repository.DepartmentRepository" sourceFile="DepartmentRepository.java" interface="true" size="1" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.department.service" total_bugs="0" total_types="1" total_size="5">
      <ClassStats class="com.closer.department.service.DepartmentService" sourceFile="DepartmentService.java" interface="false" size="5" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.department.web" total_bugs="0" total_types="1" total_size="12">
      <ClassStats class="com.closer.department.web.DepartmentController" sourceFile="DepartmentController.java" interface="false" size="12" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.employee.domain" total_bugs="0" total_types="1" total_size="31">
      <ClassStats class="com.closer.employee.domain.Employee" sourceFile="Employee.java" interface="false" size="31" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.employee.job" total_bugs="0" total_types="1" total_size="31">
      <ClassStats class="com.closer.employee.job.HappyBirthdayJob" sourceFile="HappyBirthdayJob.java" interface="false" size="31" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.employee.repository" total_bugs="0" total_types="1" total_size="1">
      <ClassStats class="com.closer.employee.repository.EmployeeRepository" sourceFile="EmployeeRepository.java" interface="true" size="1" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.employee.service" total_bugs="0" total_types="1" total_size="22">
      <ClassStats class="com.closer.employee.service.EmployeeService" sourceFile="EmployeeService.java" interface="false" size="22" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.employee.web" total_bugs="0" total_types="1" total_size="10">
      <ClassStats class="com.closer.employee.web.EmployeeController" sourceFile="EmployeeController.java" interface="false" size="10" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.domain" total_bugs="0" total_types="1" total_size="15">
      <ClassStats class="com.closer.tenant.domain.Tenant" sourceFile="Tenant.java" interface="false" size="15" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.event" total_bugs="0" total_types="1" total_size="8">
      <ClassStats class="com.closer.tenant.event.TenantCreateEvent" sourceFile="TenantCreateEvent.java" interface="false" size="8" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.repository" total_bugs="0" total_types="1" total_size="1">
      <ClassStats class="com.closer.tenant.repository.TenantRepository" sourceFile="TenantRepository.java" interface="true" size="1" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.repository.impl" total_bugs="0" total_types="1" total_size="15">
      <ClassStats class="com.closer.tenant.repository.impl.TenantRepositoryImpl" sourceFile="TenantRepositoryImpl.java" interface="false" size="15" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.service" total_bugs="0" total_types="2" total_size="12">
      <ClassStats class="com.closer.tenant.service.TenantService" sourceFile="TenantService.java" interface="false" size="10" bugs="0"/>
      <ClassStats class="com.closer.tenant.service.TenantSupport" sourceFile="TenantSupport.java" interface="true" size="2" bugs="0"/>
    </PackageStats>
    <PackageStats package="com.closer.tenant.web" total_bugs="0" total_types="1" total_size="10">
      <ClassStats class="com.closer.tenant.web.TenantController" sourceFile="TenantController.java" interface="false" size="10" bugs="0"/>
    </PackageStats>
    <FindBugsProfile>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.ClassInfoAnalysisEngine" totalMilliseconds="203" invocations="703" avgMicrosecondsPerInvocation="290" maxMicrosecondsPerInvocation="16897" standardDeviationMicrosecondsPerInvocation="855"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FieldItemSummary" totalMilliseconds="87" invocations="80" avgMicrosecondsPerInvocation="1096" maxMicrosecondsPerInvocation="16768" standardDeviationMicrosecondsPerInvocation="2625"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FindNoSideEffectMethods" totalMilliseconds="65" invocations="80" avgMicrosecondsPerInvocation="815" maxMicrosecondsPerInvocation="9836" standardDeviationMicrosecondsPerInvocation="1548"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.ClassDataAnalysisEngine" totalMilliseconds="59" invocations="717" avgMicrosecondsPerInvocation="83" maxMicrosecondsPerInvocation="585" standardDeviationMicrosecondsPerInvocation="52"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.IsNullValueDataflowFactory" totalMilliseconds="56" invocations="163" avgMicrosecondsPerInvocation="344" maxMicrosecondsPerInvocation="5455" standardDeviationMicrosecondsPerInvocation="649"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.TypeDataflowFactory" totalMilliseconds="54" invocations="164" avgMicrosecondsPerInvocation="333" maxMicrosecondsPerInvocation="9398" standardDeviationMicrosecondsPerInvocation="895"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.ValueNumberDataflowFactory" totalMilliseconds="52" invocations="167" avgMicrosecondsPerInvocation="316" maxMicrosecondsPerInvocation="9718" standardDeviationMicrosecondsPerInvocation="952"/>
      <ClassProfile name="edu.umd.cs.findbugs.OpcodeStack$JumpInfoFactory" totalMilliseconds="48" invocations="365" avgMicrosecondsPerInvocation="131" maxMicrosecondsPerInvocation="5495" standardDeviationMicrosecondsPerInvocation="324"/>
      <ClassProfile name="edu.umd.cs.findbugs.ba.npe.NullDerefAndRedundantComparisonFinder" totalMilliseconds="46" invocations="154" avgMicrosecondsPerInvocation="303" maxMicrosecondsPerInvocation="4467" standardDeviationMicrosecondsPerInvocation="562"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.CFGFactory" totalMilliseconds="44" invocations="163" avgMicrosecondsPerInvocation="274" maxMicrosecondsPerInvocation="9568" standardDeviationMicrosecondsPerInvocation="769"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.UnconditionalValueDerefDataflowFactory" totalMilliseconds="41" invocations="163" avgMicrosecondsPerInvocation="254" maxMicrosecondsPerInvocation="3942" standardDeviationMicrosecondsPerInvocation="489"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.MethodGenFactory" totalMilliseconds="40" invocations="166" avgMicrosecondsPerInvocation="242" maxMicrosecondsPerInvocation="26608" standardDeviationMicrosecondsPerInvocation="2054"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.JavaClassAnalysisEngine" totalMilliseconds="35" invocations="177" avgMicrosecondsPerInvocation="197" maxMicrosecondsPerInvocation="13180" standardDeviationMicrosecondsPerInvocation="1019"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.NoteDirectlyRelevantTypeQualifiers" totalMilliseconds="32" invocations="80" avgMicrosecondsPerInvocation="403" maxMicrosecondsPerInvocation="5229" standardDeviationMicrosecondsPerInvocation="821"/>
      <ClassProfile name="edu.umd.cs.findbugs.util.TopologicalSort" totalMilliseconds="32" invocations="543" avgMicrosecondsPerInvocation="59" maxMicrosecondsPerInvocation="979" standardDeviationMicrosecondsPerInvocation="104"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FindRefComparison$SpecialTypeAnalysis" totalMilliseconds="25" invocations="123" avgMicrosecondsPerInvocation="209" maxMicrosecondsPerInvocation="2828" standardDeviationMicrosecondsPerInvocation="333"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.OverridingEqualsNotSymmetrical" totalMilliseconds="20" invocations="80" avgMicrosecondsPerInvocation="259" maxMicrosecondsPerInvocation="6220" standardDeviationMicrosecondsPerInvocation="766"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.UnreadFields" totalMilliseconds="20" invocations="43" avgMicrosecondsPerInvocation="476" maxMicrosecondsPerInvocation="8886" standardDeviationMicrosecondsPerInvocation="1368"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FunctionsThatMightBeMistakenForProcedures" totalMilliseconds="20" invocations="80" avgMicrosecondsPerInvocation="250" maxMicrosecondsPerInvocation="4608" standardDeviationMicrosecondsPerInvocation="640"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.CalledMethods" totalMilliseconds="19" invocations="80" avgMicrosecondsPerInvocation="242" maxMicrosecondsPerInvocation="2174" standardDeviationMicrosecondsPerInvocation="380"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.BuildObligationPolicyDatabase" totalMilliseconds="19" invocations="80" avgMicrosecondsPerInvocation="241" maxMicrosecondsPerInvocation="2544" standardDeviationMicrosecondsPerInvocation="398"/>
      <ClassProfile name="edu.umd.cs.findbugs.ba.npe.TypeQualifierNullnessAnnotationDatabase" totalMilliseconds="17" invocations="1204" avgMicrosecondsPerInvocation="14" maxMicrosecondsPerInvocation="1187" standardDeviationMicrosecondsPerInvocation="58"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FindOpenStream" totalMilliseconds="15" invocations="43" avgMicrosecondsPerInvocation="371" maxMicrosecondsPerInvocation="7667" standardDeviationMicrosecondsPerInvocation="1329"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.BuildStringPassthruGraph" totalMilliseconds="15" invocations="80" avgMicrosecondsPerInvocation="188" maxMicrosecondsPerInvocation="2370" standardDeviationMicrosecondsPerInvocation="414"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FindInconsistentSync2" totalMilliseconds="13" invocations="43" avgMicrosecondsPerInvocation="311" maxMicrosecondsPerInvocation="3958" standardDeviationMicrosecondsPerInvocation="652"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.bcel.ConstantDataflowFactory" totalMilliseconds="13" invocations="163" avgMicrosecondsPerInvocation="81" maxMicrosecondsPerInvocation="1308" standardDeviationMicrosecondsPerInvocation="167"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.CheckRelaxingNullnessAnnotation" totalMilliseconds="12" invocations="43" avgMicrosecondsPerInvocation="290" maxMicrosecondsPerInvocation="5607" standardDeviationMicrosecondsPerInvocation="856"/>
    </FindBugsProfile>
  </FindBugsSummary>
  <ClassFeatures></ClassFeatures>
  <History></History>
</BugCollection>
